/*-------------------------*/
/* contact
---------------------------*/
.contact{
  background-color:$bg-secondary ;
  .container{
    flex-direction: column;
    h2{
      @include fontSize(2rem , 2.8rem);
      margin-bottom: 0.8rem;
      color: $text-black ;
      @media screen and (min-width: $mq768) {
        @include fontSize(3.2rem , 4.5rem);
        margin-bottom: 1.6rem;
      }
      @media screen and (min-width: $mq1024) {
        @include fontSize(4.8rem , 6.7rem);
        margin-bottom: 2.4rem;
      }
    }
    .login{
      width: 100%;
      max-width: 79.2rem;
      @include center(row, nowrap, center, center);
    }
  }
}

.form{
  width: 100%;
  color: $text-black;
  padding: 0 1.4rem 2.4rem 1.4rem;
  @media screen and (min-width: $mq768) {
    padding: 0 8.7rem 1.6rem 8.7rem;
  }
  @media screen and (min-width: $mq1024) {
    padding: 0 8.7rem 1.2rem 8.7rem;
  }
  p{
    margin-bottom: 1.6rem;
    @media screen and (min-width: $mq768) {
      margin-bottom: 0.8rem;
    }
    @media screen and (min-width: $mq1024) {
      @include fontSize(2rem , 3rem);
    }
  }
  .group{
    margin-bottom: 1.2rem;
    @media screen and (min-width: $mq1024) {
      margin-bottom: 1.6rem;
    }
    input{
      @extend %focus;
      @extend %base_set;
    }
    label{
      @extend %focus;
      display: block;
      margin-bottom: 0.2rem;
      @media screen and (min-width: $mq768) {
        margin-bottom: 0.4rem;
      }
    }
    textarea{
      @extend %focus;
      @extend %base_set;
      height: 10rem;
      resize:none;
      overflow-y: auto;
    }
    button{
      @extend %focus;
    }
  }
  .btn-group{
    font-size: 0;
    text-align: center;
    .btn-submit{
      border:none;
      background-color: $bg-primary;
      padding: 0.7rem 3.6rem;
      color: $text-white;
      cursor: pointer;
      user-select: none;
      transition: background .3s;
      font-weight: 500;
      &:hover{
        background-color: $text-primary;
      }
      @media screen and (min-width: $mq1024) {
        padding: 1.6rem 5.8rem;
      }
    }
  }
}
.form .group-checkbox{
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  &::before {
    content: "";
    position: absolute;
    @include width(1.2rem , 1.2rem);
    border: 0.1rem solid black;
    left: 0;
    top: 0.3rem;
  }
  @media screen and (min-width: $mq768) {
    margin-bottom: 2.4rem;
  }
  @media screen and (min-width: $mq1024) {
    margin-bottom: 4.2rem;
  }
}
//input消失
.form .group-checkbox input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.form .group-checkbox label{
  @include fontSize(1.4rem , 2.1rem);
  margin-bottom: 0rem;
  @media screen and (min-width: $mq1024) {
    @include fontSize(1.6rem , 2.2rem);
  }
}
//custom input
.form-check-label::before, 
.form-check-label::after {
  content: "";
  position: absolute;
  background-color: $text-primary;
  transform: rotate(45deg);
  display: none;
}
.form-check-label::before {
  top: 0.4rem;
  left: -0.9rem;
  @include width(0.3rem ,0.9rem);
}
.form-check-label::after {
  top: 0.9rem;
  left: -1.5rem;
  @include width(0.6rem ,0.3rem);
}
.use-checkbox:checked + .form-check-label::after, 
.use-checkbox:checked + .form-check-label::before {
  display: block;
}
















