$mq1366: 1366px;
$mq1200: 1200px;
$mq1024: 1024px;
$mq991: 991px;
$mq768: 768px;
$mq480: 480px;
$mq414: 414px;
$mq375: 375px;
$mq320: 320px;


$bg-primary : #aa0601 ;
$bg-secondary : #FBF2F1;
$bg-thirdly : #F2F2F2;
$bg-fourthly : #dcdcdc;
$bg-white : #fff;
$bg-black : #000;
$bg-hover : #8a0702;
$bg-swatchColor01 : #5F3E2D;
$bg-swatchColor02 : #B75929;


$text-white : #fff;
$text-black : #000;
$text-primary : #650300;
$text-secondary : #AA0601;
$text-thirdly: #212529;
$text-fourthly: #707070;
$text-blog-txt: #555555;
$text-blog-data: #6c6c6c;
